
:root{
    --font-medieval:'MedievalSharp', cursive;
    --font-spaceMono: 'Space Mono', monospace;
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

body{
    width: 1440px;
    background-color: var(--light-grayish-cyan);
}

.main__title{
    font-family: var(--font-spaceMono);
    text-align: center;
    margin: 5em auto 3em auto;
    color: var(--dark-grayish-cyan);
    letter-spacing: 0.5em;
    word-wrap: break-word;
    width:5em;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.visor__box{
    width: 700px;
    height: 350px;
    margin: 2em auto;
    padding: 1em;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--White);
    text-align: center;
}

/*Lado esquerdo*/

.left__side{
    display: grid;
    grid-template-rows: repeat(7, 1fr);

}

.visor__title{
    grid-column: 1;
    grid-row: 2;
    font-size: 16px;
    position: relative;
    top: 30px;
    right: 115px;
    font-size: 14px;
    color: var(--dark-grayish-cyan);
    font-weight: bold;
}

.input__number{
    grid-column: 1;
    grid-row: 2;
    border: none;
    background-color: var(--very-light-grayish-cyan);
}

.tip__box{
    grid-column: 1;
    grid-row: 3;
    font-size: 16px;
    position: relative;
    top: 25px;
    right: 93px;
    font-size: 14px;
    color: var(--dark-grayish-cyan);
    font-weight: bold;
    

}

.tecla__box{
    grid-column: 1;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;  
}

.tecla__tecla, .tecla__number{
    font-weight: bold;
    background-color: var(--very-dark-cyan);
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 5em;
}

.tecla__number{
    background-color: var(--very-light-grayish-cyan);
}

.people__title{
    font-size: 14px;
    color: var(--dark-grayish-cyan);
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5em;

}

.number__people{
    grid-column: 1;
    grid-row: 6;
    font-size: 16px;
    
}

.people__number{
    text-align: right;
    width: 25em;
    padding: 0.5em;
    background-color: var(--very-light-grayish-cyan);
    border: none;
}

.people__number::placeholder{
    background-image: url(images/user-solid.svg);
    background-repeat: no-repeat;
    opacity: 0.3;
    font-size: 11px;
}

/* Lado direito*/

.right__side{
    background-color: var(--very-dark-cyan);
    border-radius: 20px;
    margin:1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    height: 330px;


}

strong{
    color: var(--dark-grayish-cyan);
}


.amount__title, .total__title{
    font-size: 16px;
    color: var(--White);
    display: flex;
    justify-content: flex-start;
}

.amount__title{
    grid-row: 1;
    grid-column: 1;
    word-wrap: break-word;
    padding: 3em  1em 0 1em;
}


.amount{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em  1em 0 1em;
    font-size: 30px;
    color: var(--strong-cyan);

}

.total__title{
    grid-column: 1;
    grid-row: 2;
    padding: 1em 1em 0 2.5em;
}


.total{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    padding: 0 1em;
    font-size: 30px;
    color: var(--strong-cyan);

}

.reset{
    grid-column: span 2;
    grid-row: 3 span 2;
    width: 20em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 3em auto 0 auto;
    background-color: var(--strong-cyan);
    border: none;
    border-radius: 5px;
    height: 3em;  
}

